* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.instructions{
  color:brown;
  text-align:center;
  
}
.instructions h2{
  color:darkblue;
}
.instructions p{
  font-size: 20px;
  padding:10px 10px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.colab{
  margin-left:auto ;
  margin-right: auto;
}
table{
  width: 50vh;
  margin:50px 500px;
  /* padding:30px 10px; */
}
td{
    text-align: center;
}
th{
    background-color: #04aa6d;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) { 
  background-color: #f2f2f2;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}
.download-btn {
  text-align: center;
  margin:0 auto;
  background-color: DodgerBlue;
  border: none;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  /* width: 120vh; */
  margin:60px 500px;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;

}
.download-btn:hover {
  background-color: RoyalBlue;
}
.colab{
  width:1300px;
  height: 400px;
}